*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	margin: 0 auto 0 auto;
	background: url(../images/footer_lodyas.png);
}
.wrapper{

}
header{
	background: #ffffff;
	border: 2px solid #cccccc;
	position: relative;
	padding: 20px;
	height: 80px;
}
header h1{
	background: #4aaaa5;
	width: 20%;
	text-align: center;
	color: #ffffff;
	position: absolute;
	z-index: 1;
	bottom: 0;
	float: left;
	padding: 20px;
	height: 80px;
}
nav#horzNav{
	position: absolute;
	z-index: 1;
	float: right;
	bottom: 0;
	right: 0;

}
header a {
	text-decoration: none;
	color: #777777;
}
#content{
	/*clear float and make overflow, auto to make 
	sure everything stays in its container */
	clear: both;
	overflow: auto;
	width: 960px;
	/* center the content area */
	margin: 0 auto 0 auto;
	


}
